h5 {
    margin-top: 15px;
    text-align: center;
    justify-content: center;
    font-weight: bold;
}

.no-message {
    transform: translate(20%, -50%);
    font-size: 20px;
    margin-top: 70%;
}

.message {
    border-radius: 40%;
}