<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>Gestion des absences</ion-title>
    <ion-buttons slot="start">
      <ion-icon name="arrow-back-outline" size="large" (click)="btnBack()"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h5>Récap des absences</h5>

  <div *ngIf="absenceIsEmpty else loading">
    <p class="no-absence">Pas d'absences...</p>
  </div>
  <ng-template #loading>
    <ion-searchbar
      placeholder="Recherchez un élève"
      [(ngModel)]="searchItem"
      showCancelButton="focus"
      animated>
    </ion-searchbar>
    <ion-card *ngFor="let absence of absences | filter:searchItem">
      <ion-card-header>
        <ion-card-title>{{ absence.student }}</ion-card-title>
        <ion-card-subtitle>{{ dateParser(absence.date) }}</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        <p>{{ absence.periode }}</p>
      </ion-card-content>
    </ion-card>
  </ng-template>

  <ion-fab color="primary" vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="addAbsence()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>