<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Nouveau mot de passe</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <h5>PASSWORD</h5>
  <form>
    <ion-item lines="full">
      <ion-label position="floating">
        <ion-icon name="mail-outline"></ion-icon> Entrer une adresse
      </ion-label>       
      <ion-input type="text" placeholder="Email" required>
      </ion-input>
    </ion-item>
    <br/><br/>
    <ion-row>
      <ion-col>
        <ion-button type="submit" color="primary" expand="block">Envoyer</ion-button>
      </ion-col>
    </ion-row>
    <br/>
    <small>
      S'il vous plait veuillez cliquer sur le lien qui vous sera envoye
    </small>
  </form>
</ion-content>
