small {
    font-size: 15px;
    margin: 15 0;
    text-align: center;
    justify-content: center;
}

h5 {
    margin-top: 15px;
    text-align: center;
    justify-content: center;
    font-weight: bold;
}