<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>Gestion des devoirs</ion-title>
    <ion-buttons slot="start">
      <ion-icon name="arrow-back-outline" size="large" (click)="btnBack()"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h5>Récap des devoirs</h5>

  <div *ngIf="devoirIsEmpty else loading">
    <p class="no-absence">Pas de devoirs...</p>
  </div>
  <ng-template #loading>
    <ion-searchbar
      placeholder="Filtrer votre recherche"
      [(ngModel)]="searchItem"
      showCancelButton="focus"
      animated>
    </ion-searchbar>
    <ion-card *ngFor="let devoir of devoirs">
      <ion-card-header>
        <ion-card-title>{{ devoir.livre }}</ion-card-title>
        <ion-card-subtitle>Page de l'exo: {{ devoir.numero_page }}</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        <p>Numero de l'exercice: {{ devoir.numero_exo }}</p>
      </ion-card-content>
    </ion-card>
  </ng-template>
</ion-content>