h5 {
    margin-top: 15px;
    text-align: center;
    justify-content: center;
    font-weight: bold;
}

.no-absence {
    transform: translate(25%, -50%);
    // font-weight: bold;
    font-size: 20px;
    margin-top: 70%;
}